.button {
  text-decoration: none;
}

.intro-section__left-button {
  background-color: black;
  margin-right: 8px;
}

.intro-section__right-button {
  background-color: transparent;
  border: 1px solid #cccccc;
  color: #666869;
  margin-left: 8px;
}
