.chaos {
  padding-bottom: 145px;
}

.chaos__container {
  display: flex;
  flex-direction: column;
}


.chaos__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.chaos__text {
  max-width: 1015px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

@media only screen and (max-width: 830px) {
  .chaos {
    padding-bottom: 0;
  }

  .chaos__title {
    font-size: 20px;
    line-height: 18px;
  }

  .chaos__text {
    font-size: 16px;
  }
}