.intro-section {
  padding-top: 74px;
  padding-bottom: 100px;
}

.intro-section__bg {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 148px;
}

.intro-section__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 818px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #212B31;
}

.intro-section__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 88px;
}

.intro-section__button {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  display: block;
  padding: 13px 25px;
  text-decoration: none;
  border-radius: 3px;
}

.intro-section__left-button {
  background-color: black;
  color: #ffffff;
  margin-right: 8px;
}

.intro-section__right-button {
  background-color: transparent;
  border: 1px solid #cccccc;
  color: #666869;
  margin-left: 8px;
}

.intro-section__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}

.intro-section__item {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.intro-section__item--effekt::before {
  content: "";
  min-width: 48px;
  min-height: 48px;
  background-image: url("../img/effekt.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  margin-bottom: 10px;
}

.intro-section__item--reject::before {
  content: "";
  min-width: 48px;
  min-height: 48px;
  background-image: url("../img/cnijenie.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  margin-bottom: 10px;
}

.intro-section__item--security::before {
  content: "";
  min-width: 48px;
  min-height: 48px;
  background-image: url("../img/security.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 830px) {
  .intro-section__title {
    font-size: 30px;
    line-height: 36px;
  }

  .intro-section__list {
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .intro-section {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .intro-section__bg {
    margin-bottom: 30px;
  }

  .intro-section__title {
    font-size: 24px;
  }

  .intro-section__button {
    font-size: 15px;
    line-height: 18px;
  }
}