.make-section {
  background-color: #212B31;
  padding-top: 143px;
  padding-bottom: 118px;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 618px 493px;
  background-position: calc(50% + 390px) 150px;
}

.make-section__title {
  margin: 0;
  margin-bottom: 50px;
  margin-right: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}
.make-section__list {
  max-width: 570px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 32px;
}

.make-section__item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  left: -32px;
  top: 10px;
}

.make-section__item {
  max-width: 589px;
  position: relative;
  margin-bottom: 24px;

}

.make-section__links {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-right: auto;
}

.make-section__left-link {
  text-decoration: none;
  padding: 0;
  margin-left: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #FFFFFF;
  padding: 9px 20px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #000000;
}

.make-section__right-link {
  text-decoration: none;
  padding: 0;
  margin-left: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 9px 20px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #cccccc;
  color: #72787D;
}

.make-section__services-list {
  padding: 0;
  margin: 0;
  margin-top: 127px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.make-section__services-item {
  max-width: 340px;
}

@media only screen and (max-width: 830px) {
  .make-section__services-list {
    justify-content: center;
    margin-top: 30px;
  }

  .make-section__services-item {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 530px) {
  .make-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .make-section__title {
    font-size: 20px;
    line-height: 18px;
  }

  .make-section__left-link {
    margin-left: 0;
    font-size: 13px;
    line-height: 18px;
  }

  .make-section__right-link {
    font-size: 13px;
  }
}