.project {
  padding-bottom: 100px;
}

.project__title {
  max-width: 781px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 165px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.project__list {
  position: relative;
  max-width: 542px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 71px;
}

.project__inner {
  display: flex;
  align-items: center;
}

.project__list-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}

.project__list-text {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}

.project__list-help {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
}

.projec__bg {
  margin-left: auto;
}

.project__list-help::after {
  content: "";
  position: absolute;
  top: 17px;
  z-index: -1;
  width: 250px;
  height: 16px;
  background-color: #FFD042;
}

.project__img-list {
  margin-top: 250px;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// .project__img:not(:first-child) {
//   margin-left: 39px;
// }

// .project__skanska {
//   margin-left: auto;
//   margin-right: auto;
// }

@media only screen and (max-width: 1115px) {
  .project__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project__title {
    margin-bottom: 0;
  }

  .projec__bg {
    margin-right: auto;
    margin-top: 20px;
  }

  .project__list-text {
    text-align: center;
  }

  .project__list-title {
    display: none;
  }

  .project__list-help {
    text-align: center;
  }

  .project__list-help::after {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    left: 144px;
  }

  .project__img-list {
    margin: 0;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 830px) {
  .project {
    padding-bottom: 20px;
  }

  .project__title {
    font-size: 20px;
    line-height: 18px;
    margin-top: 40px;
  }

  .project__list {
    margin-top: 20px;
  }

  .project__list-text{
    font-size: 16px;
  }

  .project__list-help::after {
    display: none;
  }
}

@media only screen and (max-width: 410px) {
  .project__img-list {
    justify-content: center;
  }
}
