.sitenav {
  margin-left: auto;
  display: flex;
}

.sitenav--open {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgba(1, 77, 86, 0.103);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.sitenav--open + .site-header__menu-btn {
  position: relative;
  display: block;
  z-index: 51;
  min-width: 20px;
  min-height: 20px;
  padding: 2px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url("../img/iks.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 17px;
  cursor: pointer;
}

.sitenav--open .sitenav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #279785;
  min-width: 65%;
  height: 100vh;
  padding: 112px 0px 0 48px;
}

.sitenav--open .nav-list__item {
  display: block;
  margin-bottom: 15px;
}

.sitenav--open .nav-list__item:not(:first-child) {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.sitenav--open .nav-list__link {
  color: #ffffff;
}

.sitenav--open .sitenav__btn {
  margin-top: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.sitenav--open .sitenav__inner {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgba(246, 248, 249, 0.103);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
}

.nav-list__item:not(:first-child) {
  margin-left: 22px;
}

.nav-list__link {
  text-decoration: none;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #72787D;
  white-space: nowrap;
  transition: all 0.3s ease;
  &:hover {
    color: #FFD042;
  }

  &:active {
    opacity: 0.6;
  }
}

.sitenav__btn {
  text-decoration: none;
  padding: 0;
  margin-left: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: black;
  padding: 7px 18px;
  border-radius: 3px;
  white-space: nowrap;
  border: 2px solid black;
  transition: all 0.3s ease;
}

.sitenav__btn:hover {
  background-color: transparent;
  color: black;
}

.sitenav__btn:active {
  opacity: 0.6;
}

@media only screen and (max-width: 1200px) {
  .nav-list__item--process {
    display: none;
  }
}

@media only screen and (max-width: 1110px) {
  .nav-list__item--reliability {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  .nav-list__item--contact {
    display: none;
  }
}

@media only screen and (max-width: 830px){
  .sitenav {
    display: none;
  }
}

@media only screen and (max-width: 830px){
  .sitenav--open {
    display: block;
  }


}