.site-header {
  padding: 26px;
}

.site-header__container {
  max-width: 1430px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.site-header__logo {
  display: block;
}

.site-header__logo:active {
  opacity: 0.6;
}

.site-header__menu-btn {
  background: transparent;
  border: none;
  display: none;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 830px) {
  .site-header__menu-btn {
    display: block;
    margin-left: auto;
  }
}